- if can?(:edit, @podcast) && edit_mode?
  .context_ribbon{:class => dom_id(@podcast)}
    %div{:style => 'clear: left'}
      %label Audio/video sources:
      - if @podcast.new_record?
        - (@podcast.sources + ['']).each do |source_url|
          = text_field_tag 'podcast[sources][]', source_url
      - else
        = best_in_place @podcast, :source_0, :type => :input
        = best_in_place @podcast, :source_1, :type => :input

    %div{:style => 'clear: left'}
      .field
        %label Image:
        - if @podcast.new_record?
          = text_field :podcast, :image_url
        - else
          = best_in_place @podcast, :image_url, :type => :input

      .field
        = label :podcast, :publish_days_in_advance_of_display_date
        - if @podcast.new_record?
          = text_field :podcast, :publish_days_in_advance_of_display_date, :size => 1
        - else
          = best_in_place @podcast, :publish_days_in_advance_of_display_date, :type => :input

    %div
      - unless @podcast.new_record?
        -# if can?(:edit, @podcast)
          = link_to image_tag('k3cms/s3_podcast/pencil_go.png', :alt => 'Edit') + ' Edit', polymorphic_url(@podcast, :only_path => true)
        - if can?(:destroy, @podcast)
          = link_to image_tag('k3cms/s3_podcast/delete.png', :alt => 'Delete')  + ' Delete', polymorphic_url(@podcast, :only_path => true), :confirm => 'Are you sure?', :method => :delete, :remote => true

    %div
      - if can?(:edit, @podcast) && edit_mode? && @podcast.new_record?
        = button_to_function 'Create', '', :class => 'create_button'

    %div
      - if can?(:edit, @podcast) && edit_mode? && @podcast.new_record?
        = link_to_function image_tag('k3cms/s3_podcast/cancel.png', :alt => 'Cancel') + ' Cancel', "$(this).closest('.k3cms_s3_podcast_podcast').trigger('close')"
