- if can?(:edit, @podcast) && edit_mode?
  .context_ribbon{:class => dom_id(@podcast)}
    .code
      %label Url:
      - if true
        = inline_editable('span', @podcast, :url) do
          = @podcast.url
      - if false
        = text_field_tag @podcast, :url

    .action
      - unless @podcast.new_record?
        -# if can?(:edit, @podcast)
          = link_to image_tag('k3cms/s3_podcast/pencil_go.png', :alt => 'Edit') + ' Edit', polymorphic_url(@podcast, :only_path => true)
        - if can?(:destroy, @podcast)
          = link_to image_tag('k3cms/s3_podcast/delete.png', :alt => 'Delete')  + ' Delete', polymorphic_url(@podcast, :only_path => true), :confirm => 'Are you sure?', :method => :delete, :remote => true

    .action
      - if can?(:edit, @podcast) && edit_mode? && @podcast.new_record?
        = button_to_function 'Create', '', :class => 'create_button'

    .action
      - if can?(:edit, @podcast) && edit_mode? && @podcast.new_record?
        = link_to_function image_tag('k3cms/s3_podcast/cancel.png', :alt => 'Cancel') + ' Cancel', "$(this).closest('.k3cms_s3_podcast_podcast').trigger('close')"
