-# Compare: ./app/cells/k3cms/s3_podcast/podcasts/show_large.html.haml ./app/cells/k3cms/s3_podcast/podcasts/show_small.html.haml

- content_for :head do
  - unless @podcast.new_record?
    = auto_discovery_link_tag(:atom, k3cms_s3_podcast_podcast_episodes_path(@podcast, :atom))

%div{:class => k3cms_s3_podcast_podcast_classes(@podcast) + ['show_small'], :id => dom_id(@podcast)}
  = render_cell('k3cms/s3_podcast/podcasts', :context_ribbon, :podcast => @podcast)

  %h3.title
    - if can?(:edit, @podcast) && edit_mode?
      = inline_editable('span', @podcast, :title) do
        = raw @podcast.title
    - else
      = link_to raw(@podcast.title), k3cms_s3_podcast_podcast_episodes_path(@podcast)

  .left
    .description
      - if can?(:edit, @podcast) && edit_mode?
        = inline_editable('div', @podcast, :description) do
          = raw @podcast.description
      - else
        = raw @podcast.description

  .right
    .episode
      - if @most_recent_episode
        = k3cms_s3_podcast_episode_player @most_recent_episode

        .title
          = @most_recent_episode.title
        .date
          = @most_recent_episode.date

    - unless @podcast.new_record?
      = link_to t('View more programs'), k3cms_s3_podcast_podcast_episodes_path(@podcast)


