= render_cell('k3cms/s3_podcast/episodes', :context_ribbon, :episode => @episode)

%div{:class => k3cms_s3_podcast_episode_classes(@episode) + ['show_large'], :id => dom_id(@episode)}
  = render_cell 'k3cms/s3_podcast/episodes', :published_status, :episode => @episode

  %h2.title
    - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
      = inline_editable('span', @episode, :title) do
        = raw @episode.title
    - else
      = raw @episode.title

  .display_date
    %label Publish date:
    - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
      = inline_editable('span', @episode, :display_date) do
        = raw @episode.display_date
    - else
      = @episode.display_date && @episode.display_date.to_s(:long)

  .description
    - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
      = inline_editable('div', @episode, :description) do
        = raw @episode.description
    - else
      = raw @episode.description

  = k3cms_s3_podcast_video_player @episode

  .download_link
    = link_to(image_tag('k3cms/s3_podcast/video.png') + ' Download Video', @episode.download_url)

  .tags
    %label Tags:
    - if can?(:edit, @episode) && edit_mode?
      = best_in_place @episode, :tag_list, :type => :input
    - else
      = k3cms_s3_podcast_episode_linked_tag_list(@episode)
