- link_params = Rails.application.config.k3cms_s3_show_view==:lightbox ? {:rel => '#s3_overlay'} : {}

%div{:class => k3cms_s3_podcast_episode_classes(@episode) + ['tile'], :id => dom_id(@episode), :'data-use_expose_effect' => 'true'}
  = render_cell('k3cms/s3_podcast/episodes', :context_ribbon, :episode => @episode)

  .thumbnail
    - if can?(:edit, @episode) && edit_mode?
      = k3cms_s3_podcast_episode_thumbnail_image_url(@episode)
    - else
      = link_to k3cms_s3_podcast_episode_thumbnail_image_url(@episode), @episode, link_params

  %h3.title
    - if can?(:edit, @episode) && edit_mode?
      = inline_editable('span', @episode, :title) do
        = raw @episode.title
    - else
      = link_to raw(@episode.title), @episode, link_params

  = render_cell('k3cms/s3_podcast/episodes', :published_status, :episode => @episode)

  .date
    %label Date:
    - if can?(:edit, @episode) && edit_mode?
      = inline_editable('span', @episode, :date) do
        = raw @episode.date
    - else
      = @episode.date && @episode.date.to_s(:long)

  .description
    - if can?(:edit, @episode) && edit_mode?
      = inline_editable('div', @episode, :description) do
        = raw @episode.description
    - else
      = raw @episode.description

  .tags
    %label Tags:
    - if can?(:edit, @episode) && edit_mode? && !@episode.new_record?
      = best_in_place @episode, :tag_list, :type => :input
    - else
      = k3cms_s3_podcast_episode_linked_tag_list(@episode)

  = render_cell('k3cms/s3_podcast/episodes_index', :record_js, :episode => @episode, :podcast => @podcast)
