- content_for :title do
  = strip_tags @episode.title

-# Hard-code some widgets on this page
= render_cell 'k3cms/s3_podcast/episodes_show', :show, :episode => @episode
= render_cell 'k3cms/s3_podcast/episodes_index', :related, :to => @episode, :podcast => @episode.podcast
= render_cell 'k3cms/s3_podcast/episodes_index', :random, :podcast => @episode.podcast

- if edit_mode?
  :javascript
    k3cms_s3_podcast_episode.updatePage('#{dom_class(@episode)}', '#{dom_id(@episode)}', #{@episode.to_json}.episode, null);
