- content_for :title do
  = strip_tags @episode.title

-# Hard-code the widget on this page
= render_cell 'k3cms/s3_podcast/episodes', :show, :episode => @episode

:javascript
  k3cms_s3_podcast_episode.updatePage('#{dom_class(@episode)}', '#{dom_class(@episode)}', #{@episode.to_json}.episode, null);
