- if can?(:edit, @episode) && edit_mode?
  .context_ribbon{:class => dom_id(@episode)}
    = fields_for(@episode) do |f|
      = f.hidden_field :podcast_id

    .code.field.clear
      %label.left Code:
      - if true
        = inline_editable('div', @episode, :code, :class => 'left') do
          = @episode.code
      - if false
        = text_field_tag @episode, :code

    .date.field.clear
      %label.left Date:
      - if can?(:edit, @episode) && edit_mode?
        = inline_editable('div', @episode, :date, :class => 'left') do
          = raw @episode.date
      - else
        = @episode.date && @episode.date.to_s(:long)

    .description.field

    .clear
      - unless @episode.new_record?
        .action.left
          -# if can?(:edit, @episode)
            = link_to image_tag('k3cms/s3_podcast/pencil_go.png', :alt => 'Edit') + ' Edit', polymorphic_url(@episode, :only_path => true)
          - if can?(:destroy, @episode)
            = link_to image_tag('k3cms/s3_podcast/delete.png', :alt => 'Delete')  + ' Delete', polymorphic_url(@episode, :only_path => true), :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete with_icon'

      .action.left
        - if can?(:edit, @episode) && edit_mode? && @episode.new_record?
          = button_to_function 'Create', '', :class => 'create_button'

      .action.left
        - if can?(:edit, @episode) && edit_mode? && @episode.new_record?
          = link_to_function image_tag('k3cms/s3_podcast/cancel.png', :alt => 'Cancel') + ' Cancel', "$(this).closest('.k3cms_s3_podcast_episode').trigger('close')", :class => 'cancel with_icon'
