- toggle_js = "$('.k3cms_s3_podcast.episode_list .the_list>.k3cms_s3_podcast_episode#new_k3cms_s3_podcast_episode').toggle(); K3cms_S3Podcast.fix_clears(); "
- new_episode_js = capture do
  :plain
    #{toggle_js}
    $('.k3cms_s3_podcast.episode_list .the_list>.k3cms_s3_podcast_episode#new_k3cms_s3_podcast_episode').data('tooltip').show()
    $('.k3cms_s3_podcast.episode_list .the_list>.k3cms_s3_podcast_episode:visible:eq(0)').
      expose({
        color:'#000', 
        opacity: 0.6, 
        onClose: function() {
          var e = this.getExposed()
          if (!e.data('closing') && $('.k3cms_s3_podcast_episode#new_k3cms_s3_podcast_episode').data('close_box_when_mask_closes') !== false) {
            e.data('closing', 'expose is closed');
            e.trigger('close');
          }
        },
      });

.k3cms_s3_podcast.episode_list
  .header
    %div
      = paginate @episodes

    - if can?(:create, K3cms::S3Podcast::Episode) && edit_mode?
      %div
        = link_to_function image_tag('k3cms/s3_podcast/add.png', :alt => 'New') + ' New episode', new_episode_js

  .the_list
    - if can?(:create, K3cms::S3Podcast::Episode) && edit_mode?
      = render_cell 'k3cms/s3_podcast/episodes', :show_small, :episode => (episode=K3cms::S3Podcast::Episode.new.set_defaults)
    - @episodes.in_groups_of(Rails.application.config.k3cms_s3_podcast_pagination[:per_row], false).each do |episodes|
      - episodes.each do |episode|
        = render_cell 'k3cms/s3_podcast/episodes', :show_small, :episode => episode

:javascript
  K3cms_S3Podcast.fix_clears()
