.k3cms_s3_podcast_episode
  - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
    :javascript
      $(function() {
        $('#k3cms_ribbon').k3cms_ribbon('enable', '.k3cms_s3_podcast .episode_metadata.button');
      })

    - k3cms_ribbon_add_drawer :k3cms_s3_podcast_episode_metadata do
      = render_cell 'k3cms/s3_podcast/episodes', :metadata_drawer, :episode => @episode

  %div{:class => dom_class(@episode), :id => dom_id(@episode)}
    = render_cell 'k3cms/s3_podcast/episodes', :published_status, :episode => @episode
    %h2.title
      - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
        = inline_editable('span', @episode, :title) do
          = raw @episode.title
      - else
        = raw @episode.title

    - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
      .code
        %label Code:
        = inline_editable('span', @episode, :code) do
          = @episode.code

    .published_at
      %label Publish date:
      - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
        = inline_editable('span', @episode, :published_at) do
          = raw @episode.published_at
      - else
        = @episode.published_at && @episode.published_at.to_s(:long)

    .description
      - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
        = inline_editable('div', @episode, :description) do
          = raw @episode.description
      - else
        = raw @episode.description

    - if true #!edit_mode?
      -# FIXME: H.264 MP4 works in Firefox but not Chrome.
      = video_player [@episode.view_url], { |
          :poster => @episode.thumbnail_image_url     |
        }.merge(Rails.application.config.k3cms_s3_podcast_video_tag_options) |

    .download_link
      = link_to(image_tag('k3cms/s3_podcast/video.png') + ' Download Video', @episode.download_url)

    .tags
      %label Tags:
      - if can?(:edit, @episode) && edit_mode?
        = best_in_place @episode, :tag_list, :type => :input
      - else
        = k3cms_s3_podcast_episode_linked_tag_list(@episode)
