-# Compare: ./app/cells/k3cms/s3_podcast/episodes/show_large.html.haml ./app/cells/k3cms/s3_podcast/episodes/show_small.html.haml

- if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
  :javascript
    $(function() {
      $('#k3cms_ribbon').k3cms_ribbon('enable', '.k3cms_s3_podcast .episode_metadata.button');
    })

  - k3cms_ribbon_add_drawer :k3cms_s3_podcast_episode_metadata do
    = render_cell 'k3cms/s3_podcast/episodes', :metadata_drawer, :episode => @episode

- if can?(:edit, @episode) && edit_mode?
  .context_ribbon{:id => dom_id(@episode)}
    .code
      %label Code:
      - if true
        = inline_editable('span', @episode, :code) do
          = @episode.code
      - if false
        = best_in_place @episode, :code, :type => :input

%div{:class => k3cms_s3_podcast_episode_classes(@episode) + ['show_large'], :id => dom_id(@episode)}
  = render_cell 'k3cms/s3_podcast/episodes', :published_status, :episode => @episode

  %h2.title
    - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
      = inline_editable('span', @episode, :title) do
        = raw @episode.title
    - else
      = raw @episode.title

  .published_at
    %label Publish date:
    - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
      = inline_editable('span', @episode, :published_at) do
        = raw @episode.published_at
    - else
      = @episode.published_at && @episode.published_at.to_s(:long)

  .description
    - if can?(:edit, K3cms::S3Podcast::Episode) && edit_mode?
      = inline_editable('div', @episode, :description) do
        = raw @episode.description
    - else
      = raw @episode.description

  - if true #!edit_mode?
    -# FIXME: H.264 MP4 works in Firefox but not Chrome.
    = video_player [@episode.view_url], { |
        :poster => @episode.thumbnail_image_url     |
      }.merge(Rails.application.config.k3cms_s3_podcast_video_tag_options) |

  .download_link
    = link_to(image_tag('k3cms/s3_podcast/video.png') + ' Download Video', @episode.download_url)

  .tags
    %label Tags:
    - if can?(:edit, @episode) && edit_mode?
      = best_in_place @episode, :tag_list, :type => :input
    - else
      = k3cms_s3_podcast_episode_linked_tag_list(@episode)

:javascript
  $(function() {
    var this_episode_box = $('.edit_mode_on .k3cms_s3_podcast_episode.show_large##{dom_id(@episode)}}');
    var this_context_ribbon_selector = '.context_ribbon##{dom_id(@episode)}}';

    this_episode_box.tooltip({
      //events: {tooltip: "mouseenter"},
      delay: 100,
      position: 'top left',
      relative: true,
      tip: this_context_ribbon_selector,
      offset: [0, 0], // We don't want any gap or tooltip may disappear while moving mouse up through the gap.
      onBeforeShow: function() {
        var conf = this.getConf();
        this.getTip().css('width', this.getTrigger().innerWidth()-10 + 'px');
        conf.offset[1] = this.getTrigger().outerWidth();
      },
      onShow: function() {
        this.getTrigger().addClass('active');
      },
      onHide: function() {
        this.getTrigger().removeClass('active');
      },
    });
  });

